.carousel {
    padding-top: 1.875em;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    background-image: url('../images/carousel-1.png');
    background-size: cover;
    background-position: center;
}

.list {
    // width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.item {
    float: left;
}

.el1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4em 0 4em;
}

.item-title {
    @include container($m-w: 11.419em);

    font-size: 2.5rem;
    font-weight: $fw-black;
    color: $white;
    margin-bottom: 0;
    line-height: 1.378em;
    margin-bottom: 1.257em;

    @include respond-to(medium) {
        font-size: 4.625rem;
    }

    span {
        font-family: $ff-mll;
        color: #0dcfff;
        font-size: 4.688rem;
        font-weight: $fw-thin;
    }
}

.item-desc {
    @include container($m-w: 46.944em);

    font-size: .875rem;
    color: $white;
    line-height: 2.667em;
    margin-bottom: 2em;

    @include respond-to(medium) {
        font-size: 1.125rem;
    }
}

.item-autor {
    color: $white;
    font-weight: $fw-bold;
}

.arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 94px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    text-decoration: none;

    i {
        display: none;

        @include respond-to(medium) {
            display: block;
        }
    }
}
.left {
    left: 0;
}
.right {
    right: 0;
}
