$breakpoints: ( 'medium': 768px, 'medium-large': 896px, 'rwd-timeline': 1000px, 'large': 1200px);

@mixin respond-to($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin container($m-w: 100em) {
    max-width: $m-w;
    margin: 0 auto;
    width: 90%;
}
